@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 249 209 147; /* Light orange */
    --color-accent: 109 76 65; /* Darker orange*/
    --color-background: 250 240 220; /* White orange */
    --color-text: 74 52 46; /* Black orange */
  }

  :root[class~="dark"] {
    --color-primary: 90 96 110;
    --color-accent: 110 110 110;
    --color-background: 46 46 46;
    --color-text: 209 213 219;
  }
}
