@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light and dark theme, referenced by tailwind.config.ts */

@layer base {
  :root {
    --color-primary: 249 209 147; /* Light orange */
    --color-accent: 109 76 65; /* Darker orange*/
    --color-background: 250 240 220; /* White orange */
    --color-text: 74 52 46; /* Black orange */
  }

  :root[class~="dark"] {
    --color-primary: 90 96 110;
    --color-accent: 110 110 110;
    --color-background: 46 46 46;
    --color-text: 209 213 219;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Dark background */
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(var(--color-primary));
}

/* Restore list style */
ol {
  @apply list-decimal pl-6;
}

ul {
  @apply list-disc pl-6;
}
